{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dah Capek</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body style="background-color: antiquewhite;">

    
   <center>
    <div style="margin-top: 5%;"> 
        <h1>DAH capek ngodinggg...</h1>
        <br><br>
         <h2>Langsung aja laa liat ni tu :)</h2>
         <br><br>
         <h3>dari marketingz untuk yang gitlabnya dipake sejuta umat</h3>
         
    <br><br><br>
         <a href="/"> <button type="button" class="btn btn-outline-info">Looping ke pertama</button></a>
    
    <br><br><br>
    </div>
    
   </center>

   <center>
       <br><br>
       <div>
        <video width="320" height="240" controls>
            <source src="{%static '../static/bob.mp4'%}" type="video/mp4">
            <source src="{%static '../static/bob.ogg'%}" type="video/ogg">
          </video>
          <br>
       </div>
   </center>

   <br><br><br>

   <center>
    <div>
        <video width="320" height="240" controls>
            <source src="{%static '../static/ipehh.mp4'%}" type="video/mp4">
            <source src="{%static '../static/bob.ogg'%}" type="video/ogg">
          </video>
    </div>
</center>
<br><br><br>


<center>
    <div>
        <video width="320" height="240" controls>
            <source src="{%static '../static/ocitt.mp4'%}" type="video/mp4">
            <source src="{%static '../static/ocitt.ogg'%}" type="video/ogg">
          </video>
          <h4>
           Sok ganteng bgt ajg ni menejer
        </h4>
    </div>
</center>

<br><br><br>

<center>
    <div>
        <video width="320" height="240" controls>
            <source src="{%static '../static/yona.mp4'%}" type="video/mp4">
            <source src="{%static '../static/yona.ogg'%}" type="video/ogg">
          </video>
    </div>
</center>

<br><br><br>

<center>
    <div>
        <video width="320" height="240" controls>
            <source src="{%static '../static/keiko.mp4'%}" type="video/mp4">
            <source src="{%static '../static/keiko.ogg'%}" type="video/ogg">
          </video>
    </div>
</center>

<br><br><br>

<center>
    <div>
        <video width="320" height="240" controls>
            <source src="{%static '../static/tsana.mp4'%}" type="video/mp4">
            <source src="{%static '../static/tsana.ogg'%}" type="video/ogg">
          </video>
    </div>
</center>

<br><br><br>

<center>
    <div>
        <video width="320" height="240" controls>
            <source src="{%static '../static/ayuka.mp4'%}" type="video/mp4">
            <source src="{%static '../static/ayuka.ogg'%}" type="video/ogg">
          </video>
    </div>
</center>

  

</section>
</body>
</html>