
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FOTO LU NI</title>
        <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <link href="https://fonts.googleapis.com/css?family=Archivo+Black&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Archivo:700&display=swap" rel="stylesheet">
    
    <style>
        .card {
            background-color: var(--background);
            display: block;
            width: 300px;
            min-height: 90px;
            cursor: pointer;
            padding: 15px;
            margin: calc(50vh - 30px) auto 0 auto;
            border: 3px solid var(--primary);
            box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--green),
                  20px -20px 0 -3px var(--background), 20px -20px var(--yellow),
                  30px -30px 0 -3px var(--background), 30px -30px var(--orange),
                  40px -40px 0 -3px var(--background), 40px -40px var(--red);
          }
          
          .card:hover {
            animation: shadow-wave 1s ease infinite;
          }
          
          
          @keyframes shadow-wave {
            0% {
              border: 3px solid var(--primary);
              box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--green),
                20px -20px 0 -3px var(--background), 20px -20px var(--yellow),
                30px -30px 0 -3px var(--background), 30px -30px var(--orange),
                40px -40px 0 -3px var(--background), 40px -40px var(--red);
            }
            20% {
              border: 3px solid var(--red);
              box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--primary),
                20px -20px 0 -3px var(--background), 20px -20px var(--green),
                30px -30px 0 -3px var(--background), 30px -30px var(--yellow),
                40px -40px 0 -3px var(--background), 40px -40px var(--orange);
            }
            40% {
              border: 3px solid var(--orange);
              box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--red),
                20px -20px 0 -3px var(--background), 20px -20px var(--primary),
                30px -30px 0 -3px var(--background), 30px -30px var(--green),
                40px -40px 0 -3px var(--background), 40px -40px var(--yellow);
            }
            60% {
              border: 3px solid var(--yellow);
              box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--orange),
                20px -20px 0 -3px var(--background), 20px -20px var(--red),
                30px -30px 0 -3px var(--background), 30px -30px var(--primary),
                40px -40px 0 -3px var(--background), 40px -40px var(--green);
            }
            80% {
              border: 3px solid var(--green);
              box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--yellow),
                20px -20px 0 -3px var(--background), 20px -20px var(--orange),
                30px -30px 0 -3px var(--background), 30px -30px var(--red),
                40px -40px 0 -3px var(--background), 40px -40px var(--primary);
            }
            100% {
              border: 3px solid var(--primary);
              box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--green),
                20px -20px 0 -3px var(--background), 20px -20px var(--yellow),
                30px -30px 0 -3px var(--background), 30px -30px var(--orange),
                40px -40px 0 -3px var(--background), 40px -40px var(--red);
            }
            
          }
          
          
          
          
          
          
          
          
          :root {
            --primary: #22D2A0;
            --secondary: #192824;
            --background: #192824;
            --green: #1FC11B;
            --yellow: #FFD913;
            --orange: #FF9C55;
            --red: #FF5555;
          } 
          
          *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
          }
          
          body {
            background-image: radial-gradient(var(--secondary) 30%, var(--background) 30%);
            background-size: 2px 3px;
            font-family: "Archivo", sans-serif;
            color: var(--primary);
          }
          
          .card p {
            font-size: 11px;
            text-transform: uppercase;
            letter-spacing: 0.5px;
            margin-bottom: 10px;
          }
          
          .card h2 {
            font-size: 14px;
            font-family: "Archivo Black", "Archivo", sans-serif;
            font-weight: normal;
          }
          
    </style>
    <div class="card">
      <h3>
        JUMAWA DULU, KEREN KAN KITA BISA BUAT GINIAN HEHE !
        INSEKYUR KAN LU TU.....
      </h3>
      <center>
      <a href="asli"> <button type="button" class="btn btn-outline-info">KLIK LAGI BURU  !</button></a>
    </center>
    </div>
    
    
</body>
</html>