{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=4, initial-scale=1.0">
    <title>HBD 2</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body style="background-color: antiquewhite;">
     <div>
        <center>
            <img src="{%static '../static/Untitled.png'%}"  width="500" height="333">
        </center>


        <section>
            <center>
            <h1 style="color: brown;">
                Wei Apaan Nihhhh !!!!
            </h1>
            </center>
        </section>
     </div>
    
     <br><br><br>

     <div>
         <center>
            <img src="{%static '../static/tiup lilin.png'%}" width="500" height="500" style="margin-top: 3%;"">
         </center>

         <br><br>
         <section>
             <center>
                <h1>
                    WALAAA..... ULTAH GW TRNYATA BOZZZ !!! -__-
                </h1>
             </center>
         </section>
     </div>


     <br><br><br><br>
     <div>
         <center>
             <h1>
                 EH APANIH, KLIK AHHHH...... !
             </h1>
             
            <a href="foto"> <button type="button" class="btn btn-outline-info">KLIK BURU WOI !</button></a>
         </center>
     </div>
</body>
</html>